select{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* unvisited link */
a:link {
    color:#3498db;
  }
  
  /* visited link */
  a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color:green;
  }