<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://culer-ui.netlify.app/style.css">
    </head>
    <body>
        <header>
            <nav class="nav-container nav-container-bg-gradient">
              <div
                class="mobile-nav-toggle"
                aria-controls="nav-link-list"
                aria-expanded="false"
              >
                <span class="sr-only">Menu</span>
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
          
              <div class="nav-logo">
                <a href="/">
                  <div class="nav-title">
                    Culer <span class="bold-font blue-text">U</span><span class="bold-font red-text">I</span>
                  </div>
                  <div class="nav-tagline">Més que un Club</div>
                </a>
              </div>
          
              <div class="nav-links">
                <ul class="nav-link-list" id="nav-link-list" data-visible="false">
                  <a href="/">
                    <li class="nav-link-list-item">Home</li>
                  </a>
          
                  <a href="/vehicle">
                    <li class="nav-link-list-item">CO₂ Emission for Vehicle</li>
                  </a>
                  <a href="/footprint">
                    <li class="nav-link-list-item">Carbon Footprint</li>
                  </a>
                </ul>
              </div>
          
              
            </nav>
          </header>
        
        <script src="" async defer></script>
    </body>
</html>